[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
matplotlib = "*"
matplotlib-venn = "*"
terminado = "==0.8.3"
pandas = "*"
scikit-learn = "*"
importlib-metadata = "==4.8.3"

[requires]
python_version = "3.8"
